 body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a, a:active, a:visited {
  color: #61dafb;
  text-decoration: none;
}

.Log-in {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.Add-friend {
  display: flex;
  flex-direction: column;
  color: #61dafb;
}

.Add-friend-button {
  margin-top: 10px;
}

.margin-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}